/* ---------- FONTS ---------- */
@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

/* ---------- GENERAL ---------- */
body {
	font-family: 'Inter', sans-serif;
	color: var(--main-text);
}

button {
	cursor: pointer;
}

.hidden {
	display: none;
}

/* ---------- VARIABLES ---------- */
:root {
	--border-radius: 0.5rem;
	--main-blue: #4d4db3;
	--main-white: #fff;
	--main-text: #202020;
	--secondary-text: #696868;
	--hover-color: #eeeeee;
	--sidebar-color: #fafafa;
}

/* ---------- BUTTONS ---------- */
.btn {
	padding: 0.25rem 0.5rem;
	background: none;
	border: none;
	border-radius: var(--border-radius);
	font-weight: 700;
	border-radius: 0.25rem;
}

.btn-primary {
	background-color: var(--main-blue);
	color: var(--main-white);
}

.btn-secondary {
	background-color: var(--hover-color);
	color: var(--main-text);
}

.btn-icon {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

/* ---------- HEADER ---------- */
header {
	background-color: var(--main-blue);
	color: var(--main-white);
	padding: 0.5rem 2.5rem;
	height: 44px;
	display: flex;
	align-items: center;
	gap: 2rem;
}

#toggle-sidebar {
	cursor: pointer;
}

/* ---------- MAIN ---------- */
main {
	display: flex;
	height: calc(100% - 44px);
}

/* ---------- SIDEBAR ---------- */
.sidebar {
	background-color: var(--sidebar-color);
	width: 300px;
	padding: 2rem;
}

.sidebar li {
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.25rem;
	border-radius: var(--border-radius);
}

.sidebar li:hover {
	background-color: var(--hover-color);
}

.main-filters {
	margin-bottom: 1rem;
}

.projects-expand {
	gap: 1rem;
}

.projects-manage,
.projects-expand {
	display: flex;
	align-items: center;
}

.projects-manage {
	justify-content: space-between;
	padding: 0.25rem 0rem 0.25rem 0.5rem;
	margin-bottom: 0.25rem;
}

#add-project {
	padding: 0.5rem;
	border-radius: var(--border-radius);
	cursor: pointer;
}

#add-project:hover {
	background-color: var(--hover-color);
}

/* ---------- EDITOR ---------- */
.editor {
	flex-grow: 1;
	max-width: 900px;
	/* background-color: wheat; */
	margin: 2rem auto 0 auto;
	padding: 0 3rem;
}

.editor-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: lightcoral; */
	margin-bottom: 2rem;
}

.due-date {
	display: flex;
	gap: 0.5rem;
	font-size: 0.875rem;
}

/* EDITOR -> TODO ITEM */

.todo-item {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid var(--hover-color);
	margin-bottom: 0.5rem;
	/* background-color: #764fd1; */
}

.todo-content {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-content:hover .todo-actions {
	display: block;
}

.todo-actions img {
	margin-left: 0.5rem;
	display: inline;
}

#description {
	color: var(--secondary-text);
}

/* ---------- ADD TODO ---------- */
.todo-modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.todo-modal-content {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 10% auto;
	background-color: var(--main-white);
	border-radius: var(--border-radius);
}

.todo-modal-content select,
.todo-modal-content input[type='date'] {
	height: 32px;
}

.todo-modal-content textarea {
	resize: vertical;
}

#add-todo-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.todo-modal-content h2 {
	margin-bottom: 1rem;
}

.manage-form {
	grid-column: 1/3;
	justify-self: end;
	margin-top: 1rem;
}

.manage-form button {
	margin-left: 0.5rem;
}

.todo-form-input {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.todo-form-input:nth-child(1),
.todo-form-input:nth-child(2) {
	grid-column: 1/3;
}

/* ---------- MEDIA QUERIES ---------- */
@media only screen and (max-width: 960px) {
	.sidebar {
		display: none;
	}

	.editor {
		padding: 0 2.5rem;
	}
}
